.ai-usage-disclosure {
    p {
        max-width: 80vmin;
        margin: auto;
    }
    quote {
        display: block;
        max-width: 60vmin;
        margin: 3vmin auto;
    }
    span {
        display: block;
        margin: 3vmin auto;
        max-width: 80vmin;
    }
}