.docs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vmin;
    padding-top: 0;
    

    h2:not(.title) {
        margin: 2vmin 0;
        text-decoration: underline;
    }
    p {
        max-width: 80vmin;
    }

    svg:not(.icon) {
        margin-top: 5vmin;
        margin-bottom: 5vmin;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
        
    section {
        &:not(:nth-of-type(1)) {
            margin-top: 5vmin;
        }
    }
    .core-exports {
        .export:not(:last-child) {
            margin-bottom: 5vmin;
            .type {
                margin-bottom: 1.5vmin;
                display: block;
            }
        }
    }
    .beginners-note {
        position: relative;
        display: block;
        margin-bottom: 2vmin;
        padding: 2vmin;
        border: 2px solid grey;
        background-color: rgba(0, 0, 0, 0.401);
        .italic {
            color: yellow;
            display: block;
        }
        .close {
            position: absolute;
            top: 2vmin;
            font-size: 1.5em;
            right: 0vmin;
            cursor: pointer;
            color: red;
            transform: translate(-50%, -50%);
        }
    }
    .overview-flowchart {
        width: min(80vw, 60vmin);
        height: auto;
        display: block;
        margin-top: 2vmin;
    }
    pre.astro-code {
        margin: 2vmin 0;
        font-size: 0.8em;
        background-color: #24292eb0;
        code {
            background: none;
            margin: 0;
            width: auto;
        }
    }
    code.astro-code {
        display: inline;
        width: fit-content;
        height: 1em;
        overflow: hidden;
        padding: 0.1em 0.5em;
    }
    .expandable {
    }
    .plugin-list {
        margin: 2vmin 0;
        border: 0.2em solid rgb(218, 255, 218); 
        .tabs {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .tab {
                font-weight: bold;
                font-size: 1.25em;
                cursor: pointer;
                background-color: transparent;
                border: none;
                border-bottom: 0.2em solid rgb(218, 255, 218);
                border-color: rgba(218, 255, 218, 0.636);
                color: rgb(218, 255, 218);
                flex-grow: 1;
                padding: 1em 0.2em;
                transition: background-color 0.3s ease, border-color 0.3s ease;
                &.active {
                    color: lime;
                    background-color: rgba(0, 255, 0, 0.202);
                    border-color: lime;
                    
                }
            }
        }
        table {
            width: 100%;
            text-align: center;
            thead {
                th {
                    padding: 1em 0;
                    font-size: 1.1em;
                    border-bottom: 0.1em solid rgba(218, 255, 218, 0.636);
                }
            }
            th:nth-child(even), td:nth-child(even) {
                background-color: rgba(0, 149, 255, 0.202);
            }
            td {
                padding: 0.6em 0;
            }
            // position: relative;
            // width: 100%;
            // display: grid;
            // grid-auto-flow: column;
            // thead, tbody {
            //     display: flex;
            //     flex-direction: row;
            //     justify-content: space-evenly;
            // }
        }
        // h2 {
        //     text-align: center;
        //     font-family: 'Comic Mono Bold';
        // }
        // thead {
        //     font-family: 'Comic Mono Bold';
        // }
        // table {
        //     margin-top: 1vmin;
        // }
        // thead, tr:nth-child(even) {
        //     background-color: #00000057;
        // }
    }
}