.docs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vmin;
    padding-top: 0;
    .beginners-note {
        position: relative;
        display: block;
        margin-bottom: 2vmin;
        padding: 2vmin;
        border: 2px solid grey;
        background-color: rgba(0, 0, 0, 0.401);
        .italic {
            color: yellow;
            display: block;
        }
        .close {
            position: absolute;
            top: 2vmin;
            font-size: 1.5em;
            right: 0vmin;
            cursor: pointer;
            color: red;
            transform: translate(-50%, -50%);
        }
    }
    .overview-flowchart {
        width: min(80vw, 60vmin);
        height: auto;
        display: block;
        margin: auto;
        margin-bottom: 2vmin;
    }
    .astro-code {
        margin: 2vmin 0;
        font-size: 0.8em;
        code {
            margin: 0;
            width: auto;
        }
    }
    .expandable {
        margin-bottom: 2vmin;
    }
    .plugin-list {
        margin: 2vmin 0;
        h2 {
            text-align: center;
            font-family: 'Comic Mono Bold';
        }
        thead {
            font-family: 'Comic Mono Bold';
        }
        table {
            margin-top: 1vmin;
        }
        thead, tr:nth-child(even) {
            background-color: #00000057;
        }
    }
}