@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
         url($font-file+'.woff') format('woff'),
         url($font-file+'.ttf') format('truetype'),
         url($font-file+'.svg#'+$font-family) format('svg');
    font-weight: normal;
    font-style: normal;
  }
}


@include font('Comic Mono', '/fonts/ComicMono');
@include font('Comic Mono Bold', '/fonts/ComicMono-Bold');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Mono';
    font-size: max(calc(1vmin + 0.5vmax), 12px);
    background-color: rgb(16, 0, 52);
    background: linear-gradient(to bottom, rgb(16, 0, 52), #004600);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 2vmin;
}

svg.icon.github {
    display: inline;
    margin-right: 0.5em;
    max-width: 1em;
    max-height: 1em;
    margin-bottom: -0.1em;
}

.main-content {
    margin-bottom: 4vmin;
}

img {
    pointer-events: none;
    user-select: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p a, table a, span a, .standard-link {
    text-decoration: underline;
    color: #bdabef;
}

.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}

ul, li {
    list-style: none;
}

code {
    padding: 1em 2em;
    margin: 2em 0;
    width: calc(100% - 4em);
    display: inline-block;
    background-color: rgb(45, 45, 45);
    &.cli {
    }
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /* maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /* modern browsers, clip-path works inwards from each corner */
    white-space: nowrap; 
}