@use 'variables' as v;

.site-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vmin;
    align-items: center;
    padding-top: 5vmin;
    justify-content: center;
    @include v.desktop {
        padding-left: 5vmin;
    }
    @include v.mobile {
        flex-direction: column;
    }
    .site-logo {
        height: min(40vh, 40vw);
        width: auto;
        min-height: 15em;
        aspect-ratio: 500 / 475;
        @include v.mobile  {
            margin-bottom: 5vmin;
        }
    }
    .site-nav {
        //flex-grow: 1;
        align-self: stretch;
        ul {
            //filter: hue-rotate(486deg);
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: start;
            @include v.mobile {
                align-items: center;
            }
            @include v.desktop {
                padding-left: 5vmin;
            }
            li {
                a {
                    display: inline-block;
                    font-size: 1.25em;
                    margin: 1vmin;
                }
                svg {
                    width: fit-content;
                    height: 3em;
                    margin: auto;   
                }
            }
        }
    }
}