.site-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vmin;
    align-items: center;
    padding-top: 5vmin;
    justify-content: center;
    @media (min-aspect-ratio: 1/1) { // Desktop only
        padding-left: 5vmin;
    }
    @media (max-aspect-ratio: 1/1) { // Mobile
        flex-direction: column;
    }
    .site-logo {
        height: min(40vh, 40vw);
        width: auto;
        min-height: 15em;
        aspect-ratio: 500 / 475;
        @media (max-aspect-ratio: 1/1) { // Mobile
            margin-bottom: 5vmin;
        }
    }
    .site-nav {
        //flex-grow: 1;
        align-self: stretch;
        ul {
            filter: hue-rotate(486deg);
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: start;
            @media (min-aspect-ratio: 1/1) { // Desktop only
                padding-left: 5vmin;
            }
            @media (max-aspect-ratio: 1/1) { // Mobile
                align-items: center;
            }
            li {
                &:not(:last-child) {
                    margin-bottom: 2.5vmin;
                }
                a {
                    display: inline-block;
                    font-size: 1.25em;
                    margin: 1vmin;
                }
                svg {
                    width: fit-content;
                    height: 3em;
                    margin: auto;   
                }
            }
        }
    }
}