.plugin-doc {
    padding: 0 10vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    pre {
        font-size: 0.8em;
        margin: 1em 0;
        code {
            margin: 0;
            width: fit-content;
        }
    }
    .info-headings {
        //border: 0.2em solid lime;
        display: flex;
        flex-direction: column;
        font-size: 1.25em;
        padding-bottom: 1em;
        &:not(:last-child) {
            border-bottom: 0.1em solid #00ff0057;
        }
        margin: 0 1em 1em 1em;
        align-items: center;
        & > * {
            text-align: center;
        }
        & > *:not(:last-child) {
            margin-bottom: 1.2em;
        }
        .demos-used {
            white-space: pre;
            display: flex;
            flex-direction: row;
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}